$sft-red: #d44405;
$sft-grey: #7c8086;
$h4: 0.8rem;
$thinw: 200;
$medw: 400;



@font-face {
    font-family: 'Avenir';
    src: url('../../font/AvenirLTStd-Book.otf') format('woff2'),
         url('../../font/AvenirLTStd-Heavy.otf') format('woff'),
         url('../../font/AvenirLTStd-Light.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
  font-family: 'Avenir', sans-serif;
  margin: 0;
}

.wrapper {
  width: 100%;
  position: relative;
  height: 1000px;


  //////TITLE AREA///////
  .title-wrapper {
    width: 22%;
    padding: 0 0 0 30px;
    margin: 20px;
    height: 800px;
    position: fixed;
    @media only screen and (max-width: 880px) {
      width: 19%;
    }
    @media only screen and (max-width: 720px) {
      width: 100%;
      position: relative !important;
      height: 300px;
      padding: 0;
      margin: 40px 0 0 0;
    }
  }
  .sft-logo {
    margin: 20px 0 0 5px;
    max-width: 100%;
    @media only screen and (max-width: 720px) {
      margin: 0 auto;
      display: block;
    }
  }
  .intro-wrapper {
    @media only screen and (max-width: 720px) {
      margin: 0 auto;
      text-align: center;
      width: 300px;
    }
    h2, h4, p {
      line-height: 0.95rem;
      font-weight: $medw;
    }
    h2, h4 {
      letter-spacing: 1px;
      color: $sft-red;
    }

    h2 {
      text-transform: uppercase;
      font-size: 2rem;
      @media only screen and (max-width: 880px) {
        font-size: 1.6rem;
      }
    }
    h4 {
      font-size: $h4;
    }
    p {
      font-size: 0.65rem;
      color: $sft-grey;

    }
  }

  //////TABLE OF CONTENTS//////
  #table-contents {
    @media only screen and (max-width: 720px) {
      display: none;
    }
    h4 {
      color: $sft-red;
      font-weight: $thinw;
      font-size: $h4;
    }
    .toc-list {
      ul {
        padding: 0;
        a {
          text-decoration: none;
          color: $sft-grey;
          position: relative;
        }
        li.toc-list__item {
          list-style: none;
          line-height: 1.75rem;
          font-weight: $thinw;
          font-size: 0.7rem;
          span {
            color: $sft-red;
            margin-right: 2px;
          }
          &:hover {
            color: $sft-red;
          }
        } // end of toc-list__item
      } // end of ul
    } //end of toc-list
  } //end of #table-contents

  ///////PHOTO COLUMN AREA///////
  .grid-wrapper {
    width: 70%;
    position: relative;
    height: 1000px;
    float: right;
    margin: 0 20px;
    @media only screen and (max-width: 880px) {
      // margin: 0 20px;
    }
    @media only screen and (max-width: 720px) {
      max-width: 100%;
      width: 100%;
      display: block;
      height: auto;
    }
    &__left {
      width: 47%;
      float: left;
      margin: 10px;
      @media only screen and (max-width: 955px) {
        width: 46%;
      }
      @media only screen and (max-width: 880px) {
        width: 100%;
        float: none;
        margin: 0 auto;
      }
    } // end of left
    &__right {
      width: 47%;
      float: right;
      margin: 10px;
      @media only screen and (max-width: 955px) {
        width: 46%;
      }
      @media only screen and (max-width: 880px) {
        width: 100%;
        float: none;
        margin: 0 auto;
      }
    } // end of right

    ////photo grid items////
    .grid__item {
      width: 100%;
      height: 400px;
      background-color: lightgrey;
      margin: 20px;

    ////text on hover//////
      .overlay {
        height: 100%;
        position: relative;
        margin: 0;
        transition: all 500ms ease-in-out;
        opacity: 0;
        background: rgba(184,184,184,0.04);
        background: linear-gradient(to bottom, rgba(184,184,184,0.04) 0%, rgba(140,140,140,0.37) 34%, rgba(20,20,20,0.78) 77%, rgba(20,20,20,1) 100%);
        &:hover {
          opacity: 0.7;
        }
        @media only screen and (max-width: 720px) {
          width: 600px;
          margin: 0 auto;
        }
        &--abs {
          position: absolute;
          padding: 15px;
          top: 63%;
          @media only screen and (max-width: 720px) {
            top: 80%;
          }
          @media only screen and (max-width: 500px) {
            top: 75%;
            width: 350px;
          }
          h1 {
            color: #fff;
            font-size: 3rem;
            margin: 0;
            @media only screen and (max-width: 720px) {
              display: none;
            }
          }
          h5 {
            color: #fff;
            margin: -8px 5px;
            font-weight: 100;
            font-size: 1.5rem;
            letter-spacing: 1px;

          }
        }
      } //end of overlay


      //////specific styling per photo/////

      ////LEFT////
      // 01  Our Manifesto
      &--trans {
        background: url(../../img/home/transamerica.jpg) no-repeat;
        background-size: auto 100%;
        background-position: center;
        }

      // 03 Message from the Pres & Ceo
      &--painted {
        background: url(../../img/home/painted.jpg) no-repeat;
        background-size: auto 100%;
        background-position: center;
        }

      // 05 What We Do
      &--cityhall {
        background: url(../../img/home/cityhall.jpg) no-repeat;
        background-size: auto 100%;
        background-position: center;
        }

      // 07 How We Measure What We Do
      &--cupid {
        background: url(../../img/home/cupid.jpg) no-repeat;
        background-size: auto 100%;
        background-position: center;
        }

      // 09  What Were Up To
      &--lighthouse {
        background: url(../../img/home/lighthouse.jpg) no-repeat;
        background-size: auto 100%;
        background-position: 70% 50%;
        @media only screen and (max-width: 720px) {
          background-position: center;
        }
      }
      //END OF LEFT

      ////RIGHT/////
      // 02 Message From the Chair
      &--ferry {
        background: url(../../img/home/ferry.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        @media only screen and (max-width: 720px) {
          background-size: cover;
        }
        }

      // 04  Who We Are
      &--bridge {
        background: url(../../img/home/ggbridge.jpg) no-repeat;
        background-size: 100%;
        background-position: center;
        @media only screen and (max-width: 720px) {
          background-size: cover;
        }
        // @media only screen and (max-width: 500px) {
        //   background-size: cover;
        // }
      }

      // 06  Key Themes
      &--china {
        background: url(../../img/home/china.jpg) no-repeat;
        background-size: auto 100%;
        background-position: center;
        }

      // 08  State of the Industry
      &--aerial {
        background: url(../../img/home/aerial.jpg) no-repeat;
        background-size: auto 100%;
        background-position: center;
        }

      // 10  The Leadership
      &--museum {
        background: url(../../img/home/museum.jpg) no-repeat;
        background-size: auto 100%;
        background-position: center;
        }



    } // end of grid__item

  } // end of grid-wrapper

} //end of wrapper
